<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>taxInvoice</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ios</string>
				</array>
			</dict>
			<key>SetLogo1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ios</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SetLogo2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb311512386899295</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.446080231387-lm99obr8tra6o2e9jsg55el73a9tvjit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>MeSKKM9ENZR_J0qvTOa6vbparl5lKDQj6jYp5</string>
	<key>FacebookAppID</key>
	<string>311512386899295</string>
	<key>FacebookDisplayName</key>
	<string>App</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng muốn sử dụng camera để quét mã</string>
	<key>NSContactsUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ứng dụng muốn truy cập vị trí của bạn để gợi ý những nhà cung cấp ở gần bạn</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng muốn truy cập vị trí của bạn để gợi ý những nhà cung cấp ở gần bạn</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng muốn sử dụng mic để ghi âm</string>
	<key>NSMotionUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng muốn truy ảnh của điện thoại cập nhật ảnh đại diện</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng muốn thêm vào ảnh để cập nhật ảnh đại diện</string>
	<key>NSSiriUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Truy cập thư viện để cập nhật ảnh đại diện</string>
	<key>UIAppFonts</key>
	<array>
		<string>Arial_Bold_Italic.ttf</string>
		<string>Arial_Bold.ttf</string>
		<string>Arial_Italic.ttf</string>
		<string>ARIAL.TTF</string>
		<string>Entypo.ttf</string>
		<string>AntDesign.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>arial.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Optima Medium.ttf</string>
		<string>Optima_Italic.ttf</string>
		<string>OPTIMA.TTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
